<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加课程</title>
    <link rel="stylesheet" href="{{ url_for("static",filename="/css/bootstrap.css") }}">
</head>
<body>
<form action="" style="width: 500px;margin:200px auto" method="post">
<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1" >{{ form.cause_name.label }}</span>
{#    <input type="text" class="form-control" placeholder="请输入课程名" aria-label="Username"#}
{#           aria-describedby="basic-addon1" name="course_name">#}
    {{ form.cause_name }}
</div>
<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1" >{{form.teacher.label}}</span>
{#    <input type="text" class="form-control" placeholder="请输入教师" aria-label="Username"#}
{#           aria-describedby="basic-addon1" name="teacher">#}
    {{ form.teacher }}
</div><div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1" >{{form.time.label}}</span>
{#    <input type="text" class="form-control" placeholder="请输入上课时间" aria-label="Username"#}
{#           aria-describedby="basic-addon1" name="class_time">#}
    {{ form.day }}{{ form.time }}
</div><div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1" >{{form.location.label}}</span>
{#    <input type="text" class="form-control" placeholder="请输入上课地点" aria-label="Username"#}
{#           aria-describedby="basic-addon1" name="class_location">#}
    {{ form.location }}
</div><div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1" >{{ form.qq.label }}</span>
{#    <input type="text" class="form-control" placeholder="请输入教师联系方式" aria-label="Username"#}
{#           aria-describedby="basic-addon1" name="telephone">#}
    {{ form.qq }}
</div><div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1" >{{ form.exam_time.label }}</span>
{#    <input type="text" class="form-control" placeholder="请输入考试时间" aria-label="Username"#}
{#           aria-describedby="basic-addon1" name="exam_time">#}
    {{ form.exam_time }}
</div>
    <div>
{#        <input class="input-group-text" style="margin-left: 40%" type="submit" value="确定">#}
    {{ form.submit }}

    </div>
</form>

</body>
</html>
