<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加课外活动</title>
    <link rel="stylesheet" href="{{ url_for("static",filename="/css/bootstrap.css") }}">
</head>
<body>
{% for message in form.activity_name.errors %}
    <div>{{ message }}</div>
{% endfor %}
<form action="" style="width: 500px;margin:200px auto;font-weight: bold" method="post">
    <fieldset>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">{{ form.activity_name.label }}</span>
            {#    <input type="text" class="form-control" placeholder="请输入活动名称" aria-label="Username"#}
            {#           aria-describedby="basic-addon1" name="activity_name">#}

            {{ form.activity_name }}
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">{{ form.activity_time.label }}</span>
            {#    <input type="text" class="form-control" placeholder="请输入活动日期" aria-label="Username"#}
            {#           aria-describedby="basic-addon1" name="activity_time">#}

            {{ form.activity_time }}
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">{{ form.begin_time.label }}</span>
            {#    <input type="text" class="form-control" placeholder="请输入开始时间" aria-label="Username"#}
            {#           aria-describedby="basic-addon1" name="begin_time">#}

            {{ form.begin_time }}
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">{{ form.end_time.label }}</span>
            {#    <input type="text" class="form-control" placeholder="请输入持续时间" aria-label="Username"#}
            {#           aria-describedby="basic-addon1" name="end_time">#}

            {{ form.end_time }}
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">{{ form.persons_num.label }}</span>
            {#    <input type="text" class="form-control" placeholder="请输入活动人数" aria-label="Username"#}
            {#           aria-describedby="basic-addon1" name="persons_num">#}

            {{ form.persons_num }}
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">{{ form.location.label }}</span>
            {#    <input type="text" class="form-control" placeholder="请输入活动地点" aria-label="Username"#}
            {#           aria-describedby="basic-addon1" name="location">#}

            {{ form.location }}
        </div>
        <div>
            {#        <input class="input-group-text" style="margin-left: 40%" type="submit" value="确定">#}
            {{ form.submit }}
        </div>
    </fieldset>
</form>
{% if conflict %}
    <script>
        window.alert("此活动和其他活动有时间冲突\n冲突活动时间:\n{{ conflict_activity['activity_time'] }} 开始于{{ conflict_activity['begin_time'] }} 结束于{{ conflict_activity['end_time'] }}\n冲突活动名称：\n{{ conflict_activity['activity_name'] }}")
    </script>
{% endif %}
{% if conflict_in_course %}
    <script>
        window.alert("此活动和您的课程有时间冲突\n冲突课程时间:\n{{ conflict_which_course['time'] }}\n冲突课程名称：\n{{ conflict_which_course['cause_name'] }}")
    </script>
{% endif %}
</body>
</html>
