<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加课程</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
</head>
<body>
<form action="/in_course/admin" style="width: 500px;margin:200px auto" method="post">
<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1" >课程名</span>
    <input type="text" class="form-control" placeholder="请输入课程名" aria-label="Username"
           aria-describedby="basic-addon1" name="course_name">
</div>
<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1" >教师</span>
    <input type="text" class="form-control" placeholder="请输入教师" aria-label="Username"
           aria-describedby="basic-addon1" name="teacher">
</div><div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1" >上课时间</span>
    <input type="text" class="form-control" placeholder="请输入上课时间" aria-label="Username"
           aria-describedby="basic-addon1" name="class_time">
</div><div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1" >上课地点</span>
    <input type="text" class="form-control" placeholder="请输入上课地点" aria-label="Username"
           aria-describedby="basic-addon1" name="class_location">
</div><div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1" >教师联系方式</span>
    <input type="text" class="form-control" placeholder="请输入教师联系方式" aria-label="Username"
           aria-describedby="basic-addon1" name="telephone">
</div><div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1" >考试时间</span>
    <input type="text" class="form-control" placeholder="请输入考试时间" aria-label="Username"
           aria-describedby="basic-addon1" name="exam_time">
</div>
    <div>
        <button class="input-group-text" style="margin-left: 40%">确定</button>
    </div>
</form>

</body>
</html>
