<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>课程页面</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/assets/css/causes_page.css">
</head>

<body>
    <a href="" class="a-back-index"><i class="layui-icon layui-icon-return" style="font-size: 50px; position:absolute; top:3px; left:3px;"></i></a>
    <div class="cause_container">
        <div class="card1">
            <div class="causes-item">
                <span class="causes-text1">课程名称：{{ post.cause_name }}</span>
                <span class="causes-text1">上课时间：{{ post.time }}</span>
                <span class="causes-text1">任课老师：{{ post.teacher }}</span>
            </div>
            <img src="./imgs/1.gif" alt="" class="cause_img">
        </div>
        <div class="card2">
            <div class="layui-tab layui-tab-card">
                <ul class="layui-tab-title item-courses">
                    <li class="layui-this items">课程资料</li>
                    <li class="items">作业</li>
                    <li class="items">考试信息</li>
                </ul>
                <div class="layui-tab-content" style="height: 100px;">
                    <div class="layui-tab-item layui-show">
                        <div class="file_for_causes">
                            <a href="javascript:void(0)" onclick="displayWindow()" class="layui-btn onload-btn">上传资料</a>
                            <div id="window" class="window_css">
                                <a href="javascript:void(0)" onclick="hideWindow()" class="close-btn"><i class="layui-icon layui-icon-close close-item"style="font-size: 30px; color: #1E9FFF;"></i></a>
                                <form action="" method="post" enctype="multipart/form-data" class="form-file layui-form">
                                    <span class="easy-text">选择资料：</span><input type="file" name="course-file" value="文件上传" class="file-upload-btn">
                                    <br>
                                    <div class="layui-input-block choice-block">
                                        <input type="radio" name="compress" value="yes" title="压缩">
                                        <input type="radio" name="compress" value="no" title="不压缩" checked>
                                        <input type="radio" name="compress" value="notkown" title="不知道" disabled>
                                    </div>
                                    <button type="submit" class="layui-btn form-submit-btn">提交</button>
                                </form>
                            </div>
                            <div id="shadow" class="shadow_css"></div>
                            <table lay-filter="demo" class="file-table" style="position: relative; top:20px;">
                                <thead>
                                    <tr>
                                        <th lay-data="{field: 'name', width:150,sort:true} ">资料名称</th>
                                        <th lay-data="{field: 'time', width:100, sort:true} ">时间</th>
                                        <th lay-data="{field: 'download'} ">下载</th>
                                        <th lay-data="{field: 'delete'} ">删除</th>
                                        <th lay-data="{field: 'description',width:1000}">描述</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1.bmp</td>
                                        <td>2022-4-15</td>
                                        <td><a href="" class="download-tag">下载</a></td>
                                        <td><a href="" class="delete-tag">删除</a></td>
                                        <td>用于测试的文件1</td>
                                    </tr>
                                    <tr>
                                        <td>2.bmp</td>
                                        <td>2022-4-16</td>
                                        <td><a href="" class="download-tag">下载</a></td>
                                        <td><a href="" class="delete-tag">删除</a></td>
                                        <td>用于测试的文件2</td>
                                    </tr>
                                    <tr>
                                        <td>3.bmp</td>
                                        <td>2022-4-16</td>
                                        <td><a href="" class="download-tag">下载</a></td>
                                        <td><a href="" class="delete-tag">删除</a></td>
                                        <td>用于测试的文件3</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="layui-tab-item">
                        <div class="layui-collapse" style="margin-top: 10px;">
                            <div class="layui-colla-item">
                                <h2 class="layui-colla-title">第一次作业</h2>
                                <div class="layui-colla-content layui-show">
                                    <a href="javascript:void(0)" onclick="displayWindow1()" class="layui-btn onload-btn">上传作业</a></div>
                                <div id="window1" class="window_css">
                                    <a href="javascript:void(0)" onclick="hideWindow1()" class="close-btn"><i class="layui-icon layui-icon-close close-item"style="font-size: 30px; color: #1E9FFF;"></i></a>
                                    <form action="" method="post" enctype="multipart/form-data" class="form-file layui-form">
                                        <span class="easy-text">选择资料：</span><input type="file" name="course-file" value="文件上传" class="file-upload-btn">
                                        <br>
                                        <div class="layui-input-block choice-block">
                                            <input type="radio" name="compress" value="yes" title="压缩">
                                            <input type="radio" name="compress" value="no" title="不压缩" checked>
                                            <input type="radio" name="compress" value="notkown" title="不知道" disabled>
                                        </div>
                                        <button type="submit" class="layui-btn form-submit-btn">提交</button>
                                    </form>
                                </div>
                                <div id="shadow1" class="shadow_css"></div>
                            </div>
                            <div class="layui-colla-item">
                                <h2 class="layui-colla-title">第二次作业</h2>
                                <div class="layui-colla-content layui-show">
                                    <a href="javascript:void(0)" onclick="displayWindow1()" class="layui-btn onload-btn">上传作业</a>
                                </div>
                            </div>
                            <div class="layui-colla-item">
                                <h2 class="layui-colla-title">第三次作业</h2>
                                <div class="layui-colla-content layui-show">
                                    <a href="javascript:void(0)" onclick="displayWindow1()" class="layui-btn onload-btn">上传作业</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-tab-item">
                        <table lay-filter="demo" class="file-table" style="position: relative; top:20px;">
                            <thead>
                                <tr>
                                    <th lay-data="{field: 'name', width:100,sort:true} ">考试名称</th>
                                    <th lay-data="{field: 'time', width:150, sort:true} ">考试时间</th>
                                    <th lay-data="{field: 'download'} ">考试地点</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>期中考试</td>
                                    <td>2022-4-15 13:30-15:30</td>
                                    <td>S105</td>
                                </tr>
                                <tr>
                                    <td>期末考试</td>
                                    <td>2022-6-25 14:30-16:30</td>
                                    <td>S106</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/layui/layui.js "></script>
    <script>
        var table = layui.table;
        //这里不需要进行更改 写死就可以了
        //转换静态表格
        table.init('demo', {
            height: 315,
            limit: 10 //注意：请务必确保 limit 参数（默认：10）是与你服务端限定的数据条数一致
        });
        /*当点击调用此方法后,将悬浮窗口显示出来,背景变暗*/
        function displayWindow() {
            /*悬浮窗口的显示,需要将display变成block*/
            document.getElementById("window").style.display = "block";
            /*将背景变暗*/
            document.getElementById("shadow").style.display = "block";
        }

        /*当点击调用此方法,将悬浮窗口和背景全部隐藏*/
        function hideWindow() {
            document.getElementById("window").style.display = "none";
            document.getElementById("shadow").style.display = "none";
        }

        function displayWindow1() {
            /*悬浮窗口的显示,需要将display变成block*/
            document.getElementById("window1").style.display = "block";
            /*将背景变暗*/
            document.getElementById("shadow1").style.display = "block";
        }

        /*当点击调用此方法,将悬浮窗口和背景全部隐藏*/
        function hideWindow1() {
            document.getElementById("window1").style.display = "none";
            document.getElementById("shadow1").style.display = "none";
        }
    </script>
</body>

</html>