<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <style>
        body{
            width: 500px;
            margin: 200px auto;
        }
    </style>
</head>
<body>
<form class="row g-3"  method="post">
  <div class="col-md-12">
    <label for="usn" class="form-label">用户名</label>
    <input type="text" class="form-control" name="usn" value="{{ usn }}" readonly="readonly">
  </div>
  <div class="col-md-12">
    <label for="pwd" class="form-label">密码</label>
    <input type="password" class="form-control" name="pwd">
  </div>
    <div class="col-md-12">
    <label for="pwd" class="form-label">确认密码</label>
    <input type="password" class="form-control" name="pwd1">
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">确定</button>
  </div>
</form>
</body>
</html>
