<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title%}基础模板{% endblock %}</title>


    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/body.css')}}" />
    <!-- 这里的引入 利用静态资源 这里其实经过思考也可以看出 static 其实是flask应用中一个隐藏的路由函数 这里的filename更是访问了其下的目录文件 -->
</head>

<body>

    <div class="container-img">
        <img src="{{url_for('static',filename='images/intro1.png')}}" alt="" id="intro1" class="images">
        <img src="{{url_for('static',filename='images/intro2.png')}}" alt="" id="intro2" class="images">
        <img src="{{url_for('static',filename='images/intro4.jpg')}}" alt="" id="intro3" class="images">
        <img src="{{url_for('static',filename='images/intro5.jpg')}}" alt="" id="intro4" class="images">
    </div>
    <div class="container">
        <section id="content">
            {% block content %} {% endblock %}
        </section>
        <!-- content -->
    </div>
    <!-- container -->
    <br><br>


</body>

</html>