<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>教务管理系统</title>
    <meta name="description" content="">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="/static/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/static/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="/static/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/static/assets/css/admin.css">
    <link rel="stylesheet" href="/static/assets/css/app.css">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/qustmap.css">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=1.0&type=webgl&ak=wEduqRmZfekzM6qpc3HZxYgMRqLue3P6"></script>
    <script type="text/javascript" src="https://api.map.baidu.com/library/TrackAnimation/src/TrackAnimation_min.js"></script>
    <script src="https://mapv.baidu.com/build/mapv.min.js"></script>

</head>

<header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand">
        <a href="javascript:;" class="tpl-logo">
            <img src="/static/assets/img/logo.png" alt="">
        </a>
    </div>
    <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right">
    </div>
    <div id="time_show">
        <p class="yes"><span id="year">{{ time_que[0] }}</span>年<span id="month">{{ time_que[1] }}</span>月<span id="day">{{ time_que[2] }}</span>日 星期<span id="week">{{ time_que[3] }}</span>&nbsp;<span id="hour">{{ time_que[4] }}</span> : <span id="min">{{ time_que[5] }}</span><span id="second" style="display: none">{{ time_que[6] }}</span></p>
    <button id="act" class="layui-btn">开始</button>
    <button id="quicker" class="layui-btn layui-btn-normal">加速</button>
    <button id="pause" class="layui-btn layui-btn-warm">暂停</button>
    </div>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
        </ul>
    </div>
</header>


<div class="tpl-page-container tpl-page-header-fixed">
    <div class="tpl-left-nav tpl-left-nav-hover">
        <div class="tpl-left-nav-title">
            功能列表
        </div>
        <div class="tpl-left-nav-list">
            <ul class="tpl-left-nav-menu">
                <li class="tpl-left-nav-item">
                    <a href="/index/student" class="nav-link {{ cla1 }}">
                        <i class="am-icon-home"></i>
                        <span>系统首页</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="/in_course/student" class="nav-link {{ cla2 }}">
                        <i class="am-icon-bar-chart"></i>
                        <span>课内课程管理</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="/out_course/student" class="nav-link tpl-left-nav-link-list {{ cla3 }}">
                        <i class="am-icon-bar-chart"></i>
                        <span>课外管理</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="/route/student" class="nav-link tpl-left-nav-link-list {{ cla4 }}">
                        <i class="am-icon-bar-chart"></i>
                        <span>导航系统</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
    {% block content %} {% endblock %}
        <div class="modal-container modal-remove" id="Popupwindow">
        <div class="modal-mask"> </div>
        <div class="modal-alert vertical-center">
            <div class="modal-title title" id="Popwindowtitle">title</div>
            <div class="modal-message" id="Popwindowmsg">message</div>
            <div class="modal-control">
                <button class="modal-button" type="button" name="button">ok</button>
            </div>
        </div>
    </div>
    <audio src="/static/music/qb.mp3" preload="none" controls style="display: none;" id="music"></audio>
</div>
<!-- 这里是内容 -->

{#弹出窗口的js#}
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/layui/layui.js"></script>
<script src="/static/assets/js/PopWindow.js"></script>
<script src="/static/assets/js/amazeui.min.js"></script>
<script src="/static/assets/js/app.js"></script>
<script src="/static/assets/js/time.js"></script>
<script>
    var mu=document.getElementById("music");
        $('.modal-button').on('click', function() {
        console.log('click ok');
        var popwindow = document.getElementById("Popupwindow");
        popwindow.style.display = "none";
        mu.pause();
        mu.currentTime=0;
    })
</script>
{% block otherscripts %}{% endblock %}

</body>

</html>
