{% extends "index_base.html" %}
{% block content %}
    <div class="tpl-content-wrapper">

        <div class="tpl-portlet-components">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    <span class="am-icon-code"></span>

                </div>
                <form action="/in_course/admin/add" method="get">
                    <span class="add" style="width: 200px; margin-left: 100px">
                        <button style="border-color: #0c80ba; border-radius: 20%" id="add" type="submit">增加</button>
                    </span>
                </form>

                <span class="tpl-portlet-input tpl-fz-ml">
                    <span class="portlet-input input-small input-inline">
                        <span class="input-icon right">
                            <!-- <i class="am-icon-search"></i> -->
                            <input type="text" class="form-control form-control-solid" placeholder="搜索...">
                        </span>

                    </span>
                </span>

            </div>
            <div class="tpl-block">

                <div class="am-g">
                    <div class="am-u-sm-12">
                        <form class="am-form" action="/in_course/admin/delete" method="post">
                            <table class="am-table am-table-striped am-table-hover table-main">
                                <tbody>
                                {% for post in posts %}
                                    <tr>
                                        <td><input type="checkbox" name="checklist" value="{{ loop.index }}"></td>
                                        <td>{{ loop.index }}</td>
                                        <td><a href="">{{ post.cause_name }}</a></td>
                                        <td>{{ post.teacher }}</td>
                                        <td>{{ post.time }}</td>
                                        <td>{{ post.location }}</td>
                                        <td>{{ post.qq }}</td>
                                        <td>{{ post.exam_time }}</td>
                                        <td><a href="/in_course/admin/change?id1={{ loop.index }}&cause_name={{ post.cause_name }}&teacher={{ post.teacher }}&time={{ post.teacher }}&location={{ post.location }}&qq={{ post.qq }}&exam_time={{ post.exam_time }}">更新
                                            </a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                            <hr>
                        <button style="border-color: #0c80ba; border-radius: 20%" id="delete" type="submit">删除</button>
                        </form>
                    </div>

                </div>
            </div>
            <div class="tpl-alert"></div>
        </div>
    </div>
{% endblock %}
